.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.logo {
    max-width: 100%;
    height: 48px;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding:  0 16px 0 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-toolbar-row, mat-toolbar {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
        padding:  0 16px 0 16px;
        height: 48px;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}

.router-container {
    padding: 16px 56px 0 56px;
}

